:root {
  --primary: #002ac1;
  --secondary: #11005c;
  --white: #fff;
  --black: #24292f;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Bai Jamjuree, sans-serif;
  background-image: linear-gradient(190deg, #002ac1, #11005c);
}

::-webkit-scrollbar {
  width: 0.65rem;
}

/* Mengatur background track dari scrollbar (bagian yang tidak terpakai oleh thumb) */
::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: none;
}

/* Mengatur tampilan dari thumb scrollbar (bagian yang bisa digeser) */
::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 10px;
  background: #b8b8b8;
}

/* Mengubah warna thumb scrollbar saat di-hover atau di-klik */
::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h6 {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  margin-bottom: 1rem;
}

section {
  position: relative;
  min-height: 100svh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: var(--white);
  z-index: 1;
}

.columns {
  margin: 0 !important;
}

#navbar {
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 10px;
  transition: all 0.3s ease;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1rem;
  width: 70vw;
  max-width: 1440px;
}
#navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: -1;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-120px);
  border-radius: 50px;
}
#navbar .container {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#navbar .nav-item {
  display: flex;
  align-items: center;
}
#navbar .social {
  justify-content: flex-end;
}
#navbar .social .is-link {
  padding: 0.5rem;
  color: var(--white);
}
#navbar .link {
  justify-content: center;
  display: flex;
  gap: 1.5rem;
}
#navbar .link .is-link {
  color: var(--white);
  text-transform: capitalize;
}
#navbar.min {
  border-radius: 50px;
  top: 1rem;
  color: var(--black);
}
#navbar.min::before {
  transform: translateY(0);
}
#navbar.min .link .is-link {
  color: var(--black);
}
#navbar.min .social .is-link {
  color: var(--primary);
}

#home {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(190deg, #002ac1, #11005c);
  padding: 0;
}
#home .content-holder {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-rows: 75vh 25vh;
}
#home .text-box {
  position: relative;
  color: var(--white);
  display: grid;
  place-content: center;
}
#home .text-box .animation-container {
  position: fixed;
  top: 30svh;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  z-index: -1;
}
#home .image-box {
  background-color: var(--white);
  height: 100%;
  position: relative;
}
#home .image-box .images {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
}
#home .image-box img {
  height: 16rem;
}

#tsparticles {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
}

#about, #contact, #blog, #products, #collaboration {
  z-index: 2;
  background-color: #fff;
}

#blog {
  background-color: #fff;
}

#contact {
  background-color: #000;
}

#footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-color: #000;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40svh;
}

#products {
  position: relative;
  display: block;
  padding: 0;
}
#products .product {
  position: sticky;
  top: 0;
  height: 100svh;
  isolation: isolate;
}
#products .product .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#navbar #main-logo {
  height: 50px;
}
#navbar #main-logo .st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: var(--white);
}
#navbar #main-logo .st1 {
  fill: var(--white);
}
#navbar #main-logo .st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: var(--white);
}
#navbar.min #main-logo .st0 {
  fill: #1F2B3B;
}
#navbar.min #main-logo .st1 {
  fill: #02488F;
}
#navbar.min #main-logo .st2 {
  fill: #02488F;
}/*# sourceMappingURL=style.css.map */