@import "./variables.module"
@import "./utility.module"
@import "./animation.module"
@import "./outline_image.module"

$footer_height: 300px

.bluesky
    --primary: #002ac1
    --secondary: #11005c
    --base: #fff
    --base-2: #f8f8f8
    --white: #fff
    --text: #24292f
    --black: #161616
    --navbar-height: 70px

    font-family: Bai Jamjuree, sans-serif
    background-image: linear-gradient(190deg,#002ac1,#11005c)

    ::-webkit-scrollbar
        width: .65rem

    /* Mengatur background track dari scrollbar (bagian yang tidak terpakai oleh thumb) */
    ::-webkit-scrollbar-track
        background: #fff
        -webkit-box-shadow: none

    /* Mengatur tampilan dari thumb scrollbar (bagian yang bisa digeser) */
    ::-webkit-scrollbar-thumb
        border: 2px solid #fff
        border-radius: 10px
        background: #b8b8b8

    /* Mengubah warna thumb scrollbar saat di-hover atau di-klik */
    ::-webkit-scrollbar-thumb:hover
        background: #9c9c9c

    h1
        font-size: 4rem

    h2
        font-size: 3rem

    h3
        font-size: 2rem

    h4
        font-size: 1.5rem

    h5
        font-size: 1.25rem

    h6
        font-size: 1rem

    h1, h2, h3, h4, h5
        font-weight: 700
        margin-bottom: 1rem
        line-height: 1.5

    p
        line-height: 2

    section
        position: relative
        min-height: 100svh
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        padding: 3rem
        z-index: 1

.transition-cover
    z-index: 3
    height: 100vh
    width: 100%
    position: fixed
    top: 0
    left: 0
    background-color: var(--primary)

.columns
    margin: 0!important

.text_primary
    color: var(--primary)

.home
    position: relative
    z-index: 1
    background-image: linear-gradient(190deg,#002ac1,#11005c)
    padding: 0!important

    .content_holder
        position: relative
        z-index: 1
        width: 100vw
        height: 100%
        display: grid
        grid-template-rows: 75vh 25vh

    .text_box
        position: relative
        color: var(--white)
        display: grid
        place-content: center

        .animation_container
            position: fixed
            top: 30svh
            width: 100%
            left: 50%
            transform: translate(-50%, 0)
            text-align: center
            z-index: -1
            padding: 0 1rem

    .image_box
        background-color: var(--white)
        height: 100%
        position: relative
        max-width: 100%

        .images
            width: 100%
            position: absolute
            bottom: 2rem
            display: flex
            justify-content: center
            align-items: flex-end
            gap: 3rem
            overflow-x: hidden

        img
            height: 16rem

.tsparticles
    position: absolute
    z-index: -1
    height: 100%
    width: 100%

.about, .contact, .blog, .products, .collaboration
    z-index: 2
    // background-color: var(--white)

.about
    background-color: var(--base)

    h2, p
        max-width: 1000px
        text-align: center

.collaboration
    background-color: var(--base-2)

    .container
        text-align: center
        max-height: calc( 100svh - 200px )

        h2, p
            max-width: 1000px

        .video_wrapper
            max-width: 800px
            margin: 0 auto

.blog
    background-color: #fff

    .blog_wrapper
        display: grid
        grid-template-columns: 1fr

.contact.section
    background-color: var(--black)
    color: var(--white)
    flex-direction: column
    padding: 3rem 0 0 0!important
    width: 100%
    display: flex

    .container
        width: 100%
        padding-top: 4rem

        h3, p
            text-align: center

    .contact_container
        display: grid
        grid-template-columns: 1fr 1fr
        margin-top: 2.5rem
        grid-template-areas: "image form"

        .image
            padding: 2rem
            grid-area: image

    .contact_form
        padding: 0 2rem
        max-width: 600px
        grid-area: form

.footer
    bottom: 0
    z-index: -1
    background-color: #000
    padding: 1rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    height: $footer_height

    img
        filter: brightness(2) grayscale(1)

    .links
        display: flex
        gap: 1rem
        margin: 1.5rem 0

        .link
            color: var(--white)
            font-size: .85rem
            text-decoration: none
            opacity: .7
            transition: all .2s

            &:hover
                opacity: 1

    .copyright
        font-size: .85rem
        opacity: .5
        color: var(--white)

.product
    .container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-areas: 'text image'

    .logo
        margin-bottom: 1rem

    .text
        grid-area: text
        padding: 1rem

    .images
        grid-area: image
        padding: 1rem
        display: block
        width: 100%
        height: 100%

@media screen  and (max-width: $desktop)
    .bluesky section
        padding: 0

@media screen  and (max-width: $tablet)
    .bluesky
        h1
            font-size: 2.5rem
        h2
            font-size: 2rem

        h3
            font-size: 1.5rem

        section
            min-height: unset

    .product
        .container
            grid-template-columns: 1fr
            grid-template-areas: "text" "image"

    .about, .collaboration, .blog, .product
        .container
            padding: 4rem 1.5rem

    .footer
        height: auto
        padding: 3rem 1rem
        text-align: center

        .links
            flex-direction: column
            height: unset
            margin: 1.5rem auto

    .contact
        .contact_container
            grid-template-columns: 1fr!important
            grid-template-areas: "image" "form"!important

    .contact.section
        grid-template-rows: 1fr auto

@media screen  and (max-width: $mobile)
    .home
        .animation_container
            top: 20svh!important
